:root {
  --blue-500: hsl(220, 98%, 61%);
  --check-bg-start: hsl(192, 100%, 67%);
  --check-bg-end: hsl(280, 87%, 65%);

  --light-gray-50: hsl(0, 0%, 98%);
  --light-purple-300: hsl(234, 39%, 85%);
  --light-gray-300: hsl(233, 11%, 84%);
  --light-gray-600: hsl(236, 9%, 61%);
  --light-navy-850: hsl(235, 19%, 35%);

  --dark-navy-950: hsl(235, 21%, 11%);
  --dark-navy-900: hsl(235, 24%, 19%);
  --dark-purple-300: hsl(234, 39%, 85%);
  --dark-purple-100: hsl(236, 33%, 92%);
  --dark-purple-600: hsl(235, 16%, 43%);
  --dark-purple-700: hsl(233, 14%, 35%);
  --dark-purple-800: hsl(237, 14%, 26%);
  --dark-gray-600: hsl(236, 9%, 61%);
  --hover-500: hsl(234, 66%, 40%);

  --font-family: 'Josefin Sans', sans-serif;

  --checkbox-size: 1.5rem;
  --checkbox-icon-scale: 0.45;
  --checkbox-gap: 1rem;

  --checkbox-padding: 0.125rem;
  --hero-height: 18rem;
  --hero-overlap: 10rem;
}

.light {
  --light-gray-50: hsl(235, 21%, 11%);
  --dark-navy-950: hsl(236, 33%, 92%);
  --hover-500: hsl(233, 40%, 75%);

  --light-gray-300: hsl(233, 11%, 84%);

  --light-gray-600: hsl(236, 9%, 61%);
  --light-navy-850: hsl(235, 19%, 35%);

  --dark-navy-900: hsl(235, 24%, 19%);
  --dark-purple-300: hsl(234, 39%, 85%);
  --dark-purple-100: ;
  --dark-purple-600: hsl(235, 16%, 43%);
  --dark-purple-700: hsl(233, 14%, 35%);
  --dark-purple-800: hsl(237, 14%, 26%);
  --dark-gray-600: hsl(236, 9%, 61%);
}

body {
  font-family: var(--font-family);
  background-color: var(--dark-navy-950);
  color: var(--light-gray-50);

  background-image: url('../assets/bg-mobile-dark.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url('../assets/bg-desktop-dark.jpg');
  }

  &.light {
    background-image: url('../assets/bg-mobile-light.jpg');

    @media screen and (min-width: 768px) {
      background-image: url('../assets/bg-desktop-light.jpg');
    }
  }
}
