.page-header {
  padding: 7.5rem 7.5rem 3rem 7.5rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    gap: 2rem;
  }

  @media screen and (min-width: 1280px) {
    gap: 7rem;
  }
}

.theme-button {
  background-color: transparent;
  border: none;
  min-width: 20px;
  min-height: 20px;

  background-image: url('../assets/icon-moon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    min-width: 25px;
    min-height: 25px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 30px;
    min-height: 30px;
  }

  &.light {
    background-image: url('../assets/icon-sun.svg');
  }
}

.title {
  color: var(--light-grey-50);
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 1280px) {
    font-size: 2.5rem;
  }
}
