.todo-list-section {
  padding: 0.5rem;
}

.todo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--dark-navy-900);
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 25%;
  padding: 1rem;
}

.todo-counter-text {
  color: var(--dark-grey-600);
  font-size: 0.75rem;
}

.todo-list-button {
  border: none;
  background-color: transparent;
  color: var(--dark-grey-600);
}
